@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";

body {
  font-family: "Inter", sans-serif;
}

.containerr {
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;
  padding: 0 15px;
}

/* Swiper styles */
.swiper-pagination-bullet {
  background-color: gray !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: #46a358 !important;
  opacity: 1;
}

.custom-pagination .ant-pagination-item {
  border-color: #46a358 !important;
}

.custom-pagination .ant-pagination-item a {
  color: #46a358 !important;
}

.custom-pagination .ant-pagination-item-active {
  background-color: #46a358 !important;
  border-color: #46a358 !important;
}

.custom-pagination .ant-pagination-item-active a {
  color: white !important;
}

/* Tabs style */
.custom-tabs .ant-tabs-tab {
  color: black !important;
}

.custom-tabs .ant-tabs-tab.ant-tabs-tab-active {
  color: #46a358 !important;
}

.custom-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #46a358 !important;
}

.custom-tabs .ant-tabs-ink-bar {
  background-color: #46a358 !important;
}
